:root {
    --OpenSans:"Open Sans", sans-serif;;
    --SourceSans: "Source Sans 3", sans-serif;
    --naranja: #F17228;
    --bg-naranja: #f172282d;
    --amarillo: #FFB30E;
    --negro: #000000;
    --blanco: #fff;
}
html {
    font-size: 62.5%;
}
/* Estilos Estandar */
.bg-orange {
    background-color: var(--bg-naranja);
    color: var(--naranja);
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 1px;
    width: 13rem;
}
.bg-orange p {
    margin: 0.5rem;
    text-align: center;
}

@media (min-width : 768px){
    .flex {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
}
body {
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

/* Navegador */
.nav {
    text-align: center;
    justify-items: center;
}
@media (min-width : 768px) { 
    .nav {
        display: flex;
        align-items: center;
        justify-content:space-around;
    }
}
.nav__logo-name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: var(--SourceSans);
    font-weight: bold;
    color: var(--naranja);
}
.nav__logo-name span {
    color: var(--amarillo);
}
.nav__direccion {
    font-family: var(--OpenSans);
}
.nav__direccion span{
    font-family: var(--SourceSans);
    font-weight: bold;
}

.nav__btn-login a{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--blanco);
    padding: .7rem 1.5rem;
    text-decoration: none;
    border-radius: .8rem;
    border: none;
    box-shadow: 0px 5px 15px 0px var(--amarillo);
    font-family: var(--SourceSans);
    font-weight: bold;
    color: var(--naranja);
    font-size: 1.5rem;
}
.bg-image {
    background-image: url("/img/Background.png");
    padding: 200px;
}
.target {
    margin: 5rem;
}
.platillos-ofertas {
    justify-items: center;
    margin-top: 2rem;
    font-family: var(--SourceSans);
    font-size: 1.3rem;
    font-weight: bolder;
}
.imagen {
    position: relative;
    
}
.imagen-platillo img{
    width: 30rem;
    border-radius: 2rem;
}
.imagen-descuento img{
    position: absolute;
    bottom: 0.3rem;
    border-bottom-left-radius: 2rem;
    width: 40%;
}
@media (min-width : 600px) {
    .target {
        margin: auto;
    }
    .platillos-ofertas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    .imagen-platillo img{
        width: 20rem;
        
    }
}
@media (min-width : 900px) {

    .platillos-ofertas {
        display: flex;
        justify-content: space-around;
    }
    
}



